@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Dynalight');
@font-face {
    font-family: 'socialicoregular';
    src: url('socialico-webfont.woff2') format('woff2'),
         url('socialico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.suspension-contain {
	max-height: 980px;
	overflow:hidden;
	position: relative;
}
html.suspended {
	background: rgba(0,0,0,0.6);
}
body {
	/*font-family:"Century Gothic";
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
	font-family: Arial, Helvetica, sans-serif;
    font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	max-width: 100%;
	background: #FFF;
	margin:0 auto;
	padding:0;
	text-align: center;
	color:#202020;
	font-size: 1em;
}
a {
	color:inherit;
	text-decoration: none
}
div,article,section,dl,dt,dd,table,tr,td,ul,ol,li,p,span,small,em,h1,h2,h3,h4,h5,h6,nav {
	padding:0;
	margin:0;
}
ul,ol {
	list-style: none; padding-left:40px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
header,
#banner,
#content,
#services-section,
#contact-section,
#gallery-section,
footer {
	width: 100%;
}
#banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/common/bn-wrapper.jpg);
}
#content {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/common/cn-wrapper.jpg);
}
footer {
	background: url(../images/common/ft-wrapper.jpg) no-repeat center top;
}
.row {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*floats*/
.fl {
	float:left;
}
.fr {
	float:right;
}

/*clearings*/
.clear{
	clear:both;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size: 0;
}
.clearfix {
	display:block;
}

/*contact form messages*/
form .messages {
	display: none;
}
form .messages p {
	display: none;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: 400 !important;
	letter-spacing: 0 !important;
	font-size: 16px !important;
}
form .loading {
	display: none;
}
form .alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
form .alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
form .alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
form [type="submit"] {
	margin:20px auto;
}

/*contact form*/
.ctc-form {
	margin: 0 auto;
	padding: 20px 0 0;
	text-align: center;
}
.ctc-form label span {
	display: none;
}
.ctc-form input,
.ctc-form textarea,
.ctc-form button {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	line-height: 120%;
	color:#002C61;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}
::placeholder {
    color: #002C61;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #002C61;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #002C61;
}
.ctc-form input[type="text"],
.ctc-form textarea {
	width: 100%;
	margin: 0 0 10px;
	background: #EEE;
	border:1px solid #FFF;
	box-sizing: border-box;
}
.ctc-form textarea {
	min-height: 120px;
	padding: 10px 0 0 15px;
}
.ctc-form input[type="text"] {
	height: 45px;
	padding: 0 0 0 15px;
}
.ctc-form button {
	width: 160px;
	height: 44px;
	color: #FFF;
	border: none;
	background: #90C95E;
	text-transform: uppercase;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
}
.ctc-form button:hover {
	background: #212121;
}
.ctc-form .g-recaptcha {
	display: inline-block;
	vertical-align: top;
}

/*gallery*/
#content .gallery-container {
	text-align: center;
}
#content .gallery {
	list-style-type: none
	margin: 0;
	padding: 0;
}
#content .gallery li {
	display: inline-block;
	vertical-align: top;
}
#content .gallery li img {
	width: 100%;
	max-width: 220px;
	border-radius: 10px;
}
#content .thumbnail {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	display: block;
	line-height: 1.42857;
	margin-bottom: 20px;
	padding: 4px;
	transition: border 0.2s ease-in-out 0s;
}
#content .page_navigation {
	display: inline-block;
}
#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
	background-color: #FFF;
	border: 1px solid #ddd;
	color: #0275d8;
	display: inline-block;
	line-height: 1.25;
	margin-left: -1px;
	padding: 0.5rem 0.75rem;
	position: relative;
}
#content .page_navigation > a:hover,
.page_navigation > a.active_page {
	background-color: #eceeef;
	border-color: #DDD;
	color: #014c8c;
	text-decoration: none;
}

/* navigation */
nav {
	padding: 0;
}
nav a#pull {
	display: none;
	padding: 15px 0 15px;
	font-size: 1em;
	line-height: 120%;
	font-weight: bold;
	text-transform: uppercase;
}
nav a#pull:after {
	content:"";
	background: url(../images/nav-icon.png) no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	position:absolute;
	right:15px;
	top:10px;
}
nav ul li,
nav ul li a {
	display: inline-block;
	vertical-align: top;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
}
nav ul li {
	font-size: 15px;
	line-height: 120%;
	font-weight: 600;
	text-transform: uppercase;
}
nav ul li.active-menu a,
nav ul li a:hover {
	color: #FFF;
	background: #90C95E;
}
/* end */

h1,
h2 {
	font-size: 50px;
	line-height: 120%;
	font-family: 'Abril Fatface', cursive;
}
p {
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

.logo
.first-image,
.cards,
.map-image {
	line-height: 0;
}
.logo img {
	width: 100%;
	max-width: 615px;
}
.first-image img {
	width: 100%;
	max-width: 300px;
}
.cards img {
	width: 100%;
	max-width: 192px;
}
.map-image img {
	width: 100%;
	max-width: 300px;
}
.cta {
	display: none;
}
/* header */
header .row {
	min-height: 76px;
	padding: 0;
	color: #555;
	max-width: 1200px;
}
header nav,
header .text {
	position: absolute;
}
header nav {
	top: 0;
	left: 0;
}
header nav ul li a {
	min-height: 77px;
	padding: 27px 15px 0;
	box-sizing: border-box;
}

header .text {
	top: 35px;
	right: 0;
	width: 315px;
	padding: 11px 0 11px;
	color: #FFF;
	background: #90C95E;
}
header .text p {
	font-size: 30px;
	line-height: 120%;
	font-weight: normal;
}
header .text p small {
	display: inline-block;
	position: relative;
	top: 3px;
	line-height: 0;
}
/* end */

/* banner */
#banner .row {
	padding: 214px 0 219px;
	text-align: left;
	border-bottom: 5px solid #51B1C9;
}
#banner p .button {
	margin: 53px 0 0;
	font-weight: 600;
}
#banner .logo {
	line-height: 0;
}
/* end */

/* content */
#content .row {
	min-height: 300px;
	padding: 62px 0 139px;
	color: #FFF;
}
#content .text,
#content .right-list {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	text-align: left;
	box-sizing: border-box;
}
#content .text{
	padding:40px 0 0;
}
#content .text h1 {
	font-size: 60px;
	font-weight: bold;
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
}
#content .text h2 {
	font-size: 31px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
#content .text h2 span {
	border-bottom:3px solid #fff;

}
#content .text ul {
	padding: 15px 0 0;
	font-size: 0;
}
#content .text ul li {
	display: inline-block;
	vertical-align: top;
	padding: 15px 15px 0;
	line-height: 0;
}
#content .text ul li img {
	width: 100%;
	max-width: 184px;
	border-radius: 50%;
}

#content .right-list {
	padding: 0 0 0 50px;
	border-left: 5px solid #2C7A8D;
}
#content .right-list ul {
	padding: 0 0 0 15px;
	list-style: disc;
}
#content .right-list ul li {
	font-size: 18px;
	line-height: 194%;
}
/* end */

/* content bottom */
#services-section .row {
	max-width: 100%;
	min-height: 300px;
	padding: 0;
}
#services-section dl {
	padding: 0;
}
#services-section dl dt,
#services-section dl dd {
	width: 50%;
	box-sizing: border-box;
}
#services-section dl dt {
	float: right;
	line-height: 0;
}
#services-section dl dt img {
	width: 100%;
}
#services-section dl dd {
	float: left;
	padding: 72px 10% 0;
}
#services-section dl dd small {
	display: block;
	padding: 20px 0 10px;
	font-size: 47px;
	line-height: 120%;
	color: #51B1C9;
	font-family: 'Abril Fatface', cursive;
	background: url(../images/common/data-border.jpg) no-repeat center top;
}
#services-section dl dd .button {
	margin: 15px 0 0;
}
#services-section dl.alter-data dt {
	float: left;
}
#services-section dl.alter-data dd {
	float: right;
}

#contact-section .row {
	min-height: 300px;
	padding: 0;
}
#contact-section h2 {
	font-size: 96px;
	color: #51B1C9;
	font-family: 'Dynalight', cursive;
}
#contact-section p {
	font-size: 20px;
	line-height: 150%;
	font-weight: 600;
}
#contact-section .top-text {
	position: relative;
	top: -77px;
	padding: 40px 130px 30px;
	color: #FFF;
	background: #90C95E;
}
#contact-section .top-text p:nth-of-type(2) {
	font-size: 44px;
	line-height: 120%;
	font-weight: normal;
}
#contact-section .top-text p:nth-of-type(2) small {
	display: inline-block;
	position: relative;
	top: 4px;
	line-height: 0;
}

#contact-section .ctc-form input[type="text"] {
	width: 33%;
}

#gallery-section .row {
	max-width: 100%;
	min-height: 300px;
	padding: 0 0 25px;
	border-top: 5px solid #51B1C9;
}
#gallery-section ul {
	padding: 0 10px 0;
	font-size: 0;
}
#gallery-section ul li {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 13px 5px 0;
	line-height: 0;
	box-sizing: border-box;
}
#gallery-section ul li img {
	width: 100%;
}
#gallery-section p {
	display: inline-block;
	vertical-align: top;
	padding: 0 30px 0;
	font-size: 20px;
	line-height: 120%;
	font-weight: normal;
}
#gallery-section p small {
	display: block;
	padding: 0 0 15px;
	line-height: 0;
}
#gallery-section p:nth-of-type(3) {
	font-size: 44px;
}
#gallery-section p:nth-of-type(3) small {
	padding: 0 0 5px;
}
#gallery-section .logo {
	display: block;
	padding: 35px 0 35px;
}
/* end */

/* footer */
footer .row {
	max-width: 100%;
	padding: 0 0 10px;
}
footer nav {
	color: #FFF;
	background: #51B1C9;
}
footer nav ul li a {
	min-height: 50px;
	padding: 15px 40px 0;
	box-sizing: border-box;
}
footer p {
	padding: 10px 0 0;
	font-size: 12px;
	line-height: 120%;
	font-weight: 600;
	text-transform: uppercase;
}
/* end */
footer .silver img {
	display: inline-block;
	vertical-align: middle;
	max-width: 50px;
}
.media a,
.social-media a {
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center top;
	transition: all 0.3s ease-in-out 0s;
}
.social-media a {
	font-size: 30px;
	line-height: 120%;
	font-family: 'socialicoregular';
}
.social-media a:hover {
	color: #006DB4;
}
.media a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.media a:nth-of-type(1) {
	background-image: url(../images/common/facebook.jpg);
}
.media a:nth-of-type(2) {
	background-image: url(../images/common/twitter.jpg);
}
.media a:nth-of-type(3) {
	background-image: url(../images/common/youtube.jpg);
}
.media a:nth-of-type(4) {
	background-image: url(../images/common/rss.jpg);
}
.media a:hover {
	background-position: center -40px;
}
.button {
	display: inline-block;
	vertical-align: top;
	padding: 12px 25px 12px;
	font-size: 15px;
	line-height: 120%;
	color: #FFF;
	font-weight: 300;
	text-align: center;
	background: #90C95E;
	text-transform: uppercase;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
}
.button:hover {
	background: #212121;
}

.inner #content {
	background: #4EA6BC;
}
.inner #content .row {
	max-width: 1200px;
	min-height: 770px;
	padding: 40px 15px 30px;
	text-align: left;
	box-sizing: border-box;
}
.inner #content .image{
  text-align: center;
}
/* .inner #content .our-mission-image{
  margin: 0 auto;
  max-width: 720px;
  width: 62%;
  display: inherit;
} */

.inner #content p.about-desc{
  margin: 20px auto;
  line-height: 30px;
}

.inner #content p.services-desc{
  margin: 20px auto;
  line-height: 30px;
}

.inner #content h3.home-care-solution-header{
  margin: 20px auto;
  font-size: 30px;
}

.inner #content ul.list-home-care-services li{
  line-height: 30px; list-style: disc;
}

.inner #content p.last-parag-services{
  margin: 20px auto;
}

.inner #content p.tagline-services{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 30px
}

.inner #content p.our-team-desc{
  margin: 20px auto;
}

.inner #content h3.strive-excell-header{
  margin: 20px auto;
  font-size: 30px;
}

.inner #content ul.strive-excell-list{
  list-style: disc inside;
  line-height: 30px;
}
.inner #content ul.strive-excell-list li{
  margin-left: 20px;
}

.inner #content p.join-our-team{margin: 30px auto;}
.inner #content h3.join-our-team{color: #90C95E;font-size: 30px;font-weight: bold;margin-top: 20px;}
.inner #content h2.join-our-team{font-size: 35px; margin: 20px auto;}
.inner #content ul.join-our-team li{line-height: 30px;list-style: disc;}
.inner #content img.service{display: inline-block; vertical-align: top;width: 33%;}
.inner #content ul.payroll{list-style-type: disc; line-height: 28px}
#about-contact-photos{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-height: 566px;
  text-align:center;
}
.acTop{max-width: 1010px; width: 100%;margin: 0 auto;}
.acBot{max-width: 1015px; width: 100%;margin: 0 auto;}
/*Styles for screen 1440px and lower*/
@media screen and (max-width: 1440px) {
header,
#banner,
#content,
#services-section,
#contact-section,
#gallery-section,
footer {
	width: 1440px;
}

#services-section dl dd{
	padding:23px 10%;
}


}
/* end */

.pdf-img {width: 100%; max-width: 600px; margin: 0 auto;}
